<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502853102844-qje905kjiuo0j7q2vke00gfpf0n5vaev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502853102844-qje905kjiuo0j7q2vke00gfpf0n5vaev</string>
	<key>API_KEY</key>
	<string>AIzaSyCoG6lE81t20Mr87FLiJgLrFTophMK2ZcA</string>
	<key>GCM_SENDER_ID</key>
	<string>502853102844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beobmun.StarPos</string>
	<key>PROJECT_ID</key>
	<string>starpos-ffcdf</string>
	<key>STORAGE_BUCKET</key>
	<string>starpos-ffcdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502853102844:ios:58178bde530baaa0923b79</string>
</dict>
</plist>